<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.wishlist">
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-feature android:name="android.hardware.camera"
        android:required="false" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo_wishlist_v2"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_logo_wishlist_v2_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activities.CreateProfileActivity"></activity>
        <activity android:name=".Activities.CreateNewAccountActivity"></activity>
        <activity android:name=".Activities.MainMenuActivity"></activity>
        <activity android:name=".Activities.MyProfileActivity"></activity>
        <activity android:name=".Activities.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.android.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_path"></meta-data>
        </provider>
    </application>

</manifest>